/* You can add global styles to this file, and also import other style files */
.editdelete{
    font-size: .9rem;
}
.navbar .nav-link:hover {
  color: #ffc107 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}